/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.index
/storage/app/post_uploads/*
/storage/app/public/avatars/*
!/storage/app/post_uploads/.gitkeep
!/storage/app/public/avatars/.gitkeep
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
